<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:backup-staging.portalhq.io?mode=developer</string>
		<string>webcredentials:backup.portalhq.io?mode=developer</string>
		<string>webcredentials:1372-2603-8001-4d40-bd6-f9ce-40ef-e4d9-6bf8.ngrok-free.app?mode=developer</string>
		<string>webcredentials:1372-2603-8001-4d40-bd6-f9ce-40ef-e4d9-6bf8.ngrok-free.app?mode=developer</string>
	</array>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array/>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>$(TeamIdentifierPrefix)$(CFBundleIdentifier)</string>
</dict>
</plist>
