name: Run Swift Unit Tests

on: [push, workflow_dispatch]

jobs:
  test:
    runs-on: macos-14-xlarge

    steps:
      - uses: actions/checkout@v2

      - name: Cache Xcode Derived Data
        uses: actions/cache@v4
        with:
          path: ~/Library/Developer/Xcode/DerivedData
          key: ${{ runner.os }}-derived-data-${{ github.run_number }}
          restore-keys: |
            ${{ runner.os }}-derived-data-

      - name: Run Tests
        run: |
          xcodebuild -quiet -scheme Unit\ Tests -workspace PortalSwift.xcworkspace test -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.4'

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.2.1
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
